

#guessContainerDiv{
    /* display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around; */
    width: 600px;
}

#streakContainer{
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.streak{
    padding: 5px;
    border-style: double;
}

.letter{

    display: flex;
    align-items: center;
    justify-content: center;

    width: 75px;
    height: 75px;
    font-size: 50px;
    border: thick solid black;
    margin: 5px;

}